.cards-main{
    width: 100%;
    height: 100vh;
    background-color: #F1F1F1;
    display: flex;
    gap: 2vw;
    align-items: center;
    padding: 0 5.2vw;

}
.cards-cont{
    height: 60vh;
    width: 50%;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #004d43;
    border-radius: 10px;
    position: relative;
}
.box img{
    width: 25vh;
}
.box:nth-child(2) img{
    width: 18vh;
}
.cards-cont:nth-child(2){
    display: flex;
    gap: 2vw;
}
.cards-cont:nth-child(2) .box{
    width: 50%;
    height: 100%;
    background-color: #212121;
}
.box button{
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    color: white;
    text-transform: uppercase;
    border: 1.2px solid #fff;
     padding:.2vw 1vw;
     border-radius: 500px;
     width: fit-content;
     font-size: 1.1vw;
}