.eyes{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sub-eyes{
    width: 100%;
    height: 100%;
    position: relative;
}
.sub-eyes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.eyes-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 4vw;
}
.eye{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eye-ball{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: black;
    position: relative;
}
.rotating-line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2vw;
}
.main-circle{
    width: 20px;
    height: 20px;
    border-radius: 500px;
    background: white;
}